<!DOCTYPE html>
<html>
  <head>
    <title>how to.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h3>Welcome To Twitter Talk!</h3>
    <p>Ready to get started?
      Click <a href="/about">Twitter Talk</a> at the top of this page to go to the Twitter Talk Search.
    </p>

  </body>
</html>
