<!DOCTYPE html>
<html>
  <head>
    <title>how to.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h3>Welcome To Twitter Talk!</h3>
    <p>Ready to get started?
      Click <a href="/about">Twitter Talk</a> at the top of this page to go to the Twitter Talk Search.
    </p>

  <h5 style="text-align: center">
    <table>
      <tr>
        <td>:`-(</td>
        <td>Very Sad</td>
      </tr>
      <tr>
        <td>:-(</td>
        <td>Sad</td>
      </tr>
      <tr>
        <td>:-|</td>
        <td>Neutral</td>
      </tr>
      <tr>
        <td>:-)</td>
        <td>Happy</td>
      </tr>
      <tr>
        <td>:-)</td>
        <td>Very Happy</td>
      </tr>
    </table>

  </h5>

  </body>
</html>
