body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f8fa;
}

h3 {
  font-family: 'sans-serif';
  color: #55ACEE;
  font-size: 500%;
  text-align: center;
}
h6{
  font-size: medium;
}

form{
  text-align: center;
}

p {
  text-align: center;
  color: #000000;
}
h1 {
  text-align: center;
}

h5{
  background-color: rgba(85, 172, 238, 0.11);
  color: #444444;
}

a:link{
  color: #55ACEE;
  text-decoration: none;
  text-align: center;
}
.scrollable{
  height: 250px;
  overflow-y: auto;
}
a:hover{
  colour: #8F00EE;
  text-decoration: none;
}
a.active{
  color: #8F00EE;
}
a:visited{
  color: #55ACEE;
}

p {
  background-color: #b5e6e5;
  colour: #444444;
  font-family: "Arial Rounded MT Bold", sans-serif;
  text-align: left;
  line-height: 100%;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

p {
  background-color: rgba(85, 172, 238, 0.18);
}
